/* 
    Styles for the agenda page
 */

#hintsaccordion .panel {

    background-color: transparent;

    .panel-heading {
        height: 55px;
        display: table;
        width: 100%;

        h4 {
            display: table-cell;
            vertical-align: middle;
        }
    }

    &:nth-of-type(1) {
        .panel-heading {
            background: url('../images/ala/01.png') top right;
        }
    }
    &:nth-of-type(2) {
        .panel-heading {
            background: url('../images/ala/02.png') top right;
        }
    }
    &:nth-of-type(3) {
        .panel-heading {
            background: url('../images/ala/03.png') top right;
        }
    }
    &:nth-of-type(4) {
        .panel-heading {
            background: url('../images/ala/04.png') top right;
        }
    }
    &:nth-of-type(5) {
        .panel-heading {
            background: url('../images/ala/05.png') top right;
        }
    }
    &:nth-of-type(6) {
        .panel-heading {
            background: url('../images/ala/06.png') top right;
        }
    }
    &:nth-of-type(7) {
        .panel-heading {
            background: url('../images/ala/07.png') top right;
        }
    }
}
