/* 
    Styles for the agenda page
 */

#hintsaccordion .accordion-group {
    .accordion-heading {
        height: 55px;
        h4 {
            line-height: 95%;
        }
        &:nth-child(1) {
            background: url('../images/ala/01.png') top right;
        }
        &:nth-child(2) {
            background: url('../images/ala/02.png') top right;
        }
        &:nth-child(3) {
            background: url('../images/ala/03.png') top right;
        }
        &:nth-child(4) {
            background: url('../images/ala/04.png') top right;
        }
        &:nth-child(5) {
            background: url('../images/ala/05.png') top right;
        }
        &:nth-child(6) {
            background: url('../images/ala/06.png') top right;
        }
        &:nth-child(7) {
            background: url('../images/ala/07.png') top right;
        }
    }
}

