/* 
    Styles for the contact page.
 */

.form-wrapper {
    padding: 0 10px;
    @include make-md-column(8);
}

#contact-form,
#quote-form {
    border-radius: 10px;
    color: #fffdcc;
    padding: 20px 50px;

    h2 {
        font-family: nexa;
        font-size: 26px;
        font-weight: normal;
        margin-left: -50px;
        margin-right: -50px;
        text-align: center;
    }

    & > .form-group:last-of-type button {
        font-weight: bold;
        margin-top: 30px;
    }

    @media (max-width: 479px) {
        
        padding: 20px 20px;

        & h2 {
            margin-left: -20px;
            margin-right: -20px;
        }
    }

}

#contact-form {
    background: url('../images/elements/ala.png') bottom right no-repeat, $blue;
}

#quote-form {
    background: url('../images/elements/ala.png') bottom right no-repeat, $pink;
}


.errorlist {
    @extend .list-unstyled;
    @extend .text-danger;
}


#contact-info {
    margin-top: 50px;

    * {
        h2, * h2,
        h3, * h3 {
            line-height: 100%;
            margin: 0;
            margin-top: 5px;
            padding: 0;
        }
    }
 
}


#thanks {
    border-radius: 20px;
    display: table;
    margin: 100px auto;
    max-width: 520px;
    min-height: 300px;
    padding: 30px;
    text-align: center;

    background: url('../images/elements/ala.png') bottom right no-repeat, $blue;

    p {
        color: $white;
        display: table-cell;
        vertical-align: middle;
    }

}
