@font-face {
    font-family: nexa;
    src: url("fonts/NexaLight.otf");
}

@font-face {
    font-family: chopin;
    src: url("fonts/ChopinScript.otf");
}

@font-face {
    font-family: yanone;
    src: url("fonts/YanoneKaffeesatz-Regular.ttf");
}

@font-face {
    font-family: libelsuit;
    src: url("fonts/libelsuit.ttf");
}
