/* 
    In this file all the generic styles and inports should be
    done.
 */


$icon-font-path:    "../bower_components/sass-bootstrap/fonts/";
$font-size-base:    14px;
$blue:              #00A9BD;
$coffee:            #C19379;
$pink:              #e20265;
$shadowColor:       #CBA086;
$white:             #FFFDCC;
$modal-content-bg:  #FAF6EB;

@import 'sass-bootstrap/lib/bootstrap';

@import 'custom-mixins';
@import 'fonts';
@import 'header';
@import 'footer';
@import 'landing';
@import 'products';
@import 'agenda';
@import 'contact';

body {
    background: url('../images/elements/formas.png') no-repeat top center, 
                url('../images/elements/formas2.png') no-repeat top center, 
                url('../images/elements/background.jpg');
    font-family: nexa;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-family: yanone;
    font-weight: normal;
}

.container {
    background: url('../images/elements/background.jpg');
    box-shadow: -180px 0px 100px -200px $shadowColor,
                 180px 0px 100px -200px $shadowColor;
    margin: 0 auto;
    max-width: 980px;
    padding: 0;
}

.content {
    min-height: 800px;
}

header,
.content,
footer {
    @include hpadded;
}

.blue { color: $blue; }
.pink { color: $pink; }

.btn-pink {
    @include flat-btn($white, $pink);
}

.btn-blue {
    @include flat-btn($white, $blue);
}

.copy-symbol {
    font-family: nexa;
}

.carousel {
    .carousel-indicators li {
        box-shadow: 0px 0px 5px 1px darken($shadowColor, 10%),
              inset 0px 0px 5px 1px darken($shadowColor, 10%);

        &.active {
            box-shadow: 0px 0px 5px 1px darken($shadowColor, 10%);
        }

    }
    
    .carousel-control {
        background: transparent;
    }

    .carousel-inner img {
        margin-left: auto;
        margin-right: auto;
    }
}

.icon-next,
.icon-prev {
    color: black;
}

img {
    @include img-responsive();
}
