{% csrf_token %}

<div class="form-group {% if form.name.errors %} has-error {% endif %}">
    <label for="id_name">Nombre</label>
    <input id="id_name" maxlength="250" name="name" type="text" class="form-control" placeholder="John Snow" required>
</div>

<div class="form-group {% if form.subject.errors %} has-error {% endif %}">
    <label for="id_subject">Asunto</label>
    <input id="id_subject" maxlength="250" name="subject" type="text" class="form-control" placeholder="Asunto" required>
</div>

<div class="form-group {% if form.email.errors %} has-error {% endif %}">
    <label for="id_email">Email</label>
    <input id="id_email" maxlength="75" name="email" type="email" class="form-control" placeholder="you@mail.com"  required>
</div>

<div class="form-group {% if form.phone.errors %} has-error {% endif %}">
    <label for="id_phone">Teléfono</label>
    <input id="id_phone" maxlength="250" name="phone" type="text" class="form-control" placeholder="(opcional)">
</div>

<div class="form-group {% if form.city.errors %} has-error {% endif %}">
    <label for="id_city">Ciudad</label>
    <input id="id_city" maxlength="250" name="city" type="text" class="form-control" placeholder="(opcional)">
</div>

<div class="form-group {% if form.message.errors %} has-error {% endif %}">
    <label for="id_message">Mensaje</label>
    <textarea cols="40" id="id_message" name="message" rows="10" class="form-control" placeholder="Mensaje" required></textarea>
</div>


<button type="submit" class="btn btn-pink">ENVIAR</button>
