{% load staticfiles %}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %} Fundación alas de cristal {% endblock title %}</title>
        <meta name="description" content="{% block description %}{% endblock description %}">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="{{ STATIC_URL }}styles/main.css">
        {% block extra_head %}{% endblock extra_head %}
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <div class="container">
        <header>
            <div id="header-inner">
                <div id="logo">
                    <a href="/">
                        <img src="{{ STATIC_URL }}images/elements/logo.png" alt="Alas de cristal">
                    </a>
                </div>
                <nav>
                    <div class="navitem"><a href="{% url 'products' %}">Productos</a></div>
                    <div class="navitem"><a href="{% url 'about' %}">Nosotros</a></div>
                    <div class="navitem"><a href="{% url 'agenda' %}">Agenda Ambiental</a></div>
                    <div class="navitem"><a href="{% url 'contact' %}">Contacto</a></div>
                </nav>
            </div>
        </header>

        <div class="content">

        {% block content %}
            
        {% endblock content %}

        </div>

        <footer>
            <div id="footer-inner">
                <div id="footer-contact">
                    <h2>Newsletter</h2>
                    <form role="form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="inputName">NOMBRE</label>
                                <input type="text" class="form-control" id="inputName" placeholder="John Snow" required="">
                            </div>
                            <div class="form-group">
                                <label for="inputEmail">EMAIL</label>
                                <input type="email" class="form-control" id="inputEmail" placeholder="Enter email" required="">
                            </div>
                        <button type="submit" class="btn btn-pink">Enviar</button>
                    </form>
                </div>

                <div id="footer-info">
                    <div id="footer-social">
                        <div class="fb-like" data-href="https://www.facebook.com/pages/Alas-de-Cristal/194620507235240" data-width="450" data-layout="button_count" data-show-faces="true" data-send="false"></div>
                        <div id="fb-root" style="display: inline-block"></div>
                        <script>(function(d, s, id) {
                          var js, fjs = d.getElementsByTagName(s)[0];
                          if (d.getElementById(id)) return;
                          js = d.createElement(s); js.id = id;
                          js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
                          fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>

                        <a href="https://twitter.com/F_AlasdeCristal" class="twitter-follow-button" data-show-count="false" data-lang="es" data-show-screen-name="false">Seguir a @F_AlasdeCristal</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </div>
                    <div id="alas-values">
                        Arte <span class="blue">/</span> Educación <span class="pink">/</span> Medio Ambiente
                    </div>
                    <div id="alas-email">
                        <a href="mailto:fundacion@alasdecristal.org">fundacion@alasdecristal.org</a>
                    </div>
                    <div id="alas-city">
                        Bogotá - Colombia
                    </div>
                    <div id="alas-copy">
                        <span class="copy-symbol">&copy;</span> 2013
                    </div>
                </div>
            </div>
        </footer>
        </div>


        <script src="{{ STATIC_URL }}scripts/vendor.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-37679871-4', 'alasdecristal.org');
          ga('send', 'pageview');

        </script>

        <script data-main="{{ STATIC_URL }}scripts/main" src="{{ STATIC_URL }}bower_components/requirejs/require.js"></script>
</body>
</html>