{% extends "base.html" %}

{% block title %}
    Fundación Alas de Cristal
{% endblock title %}

{% block description %}
    La Fundación Alas de Cristal surge en el año 2008 y de dedica a la promoción, gestión y ejecución de proyectos para sensibilizar a la población en temas como la humanidad y el planeta. Por eso elegimos el arte, la educación y el medio ambiente.
{% endblock description %}

{% block extra_head %}{% endblock extra_head %}

{% block content %}

    <section id="hero">
        <p class="lead" style="text-align: center; font-face: yanone;">
            Ante la amenaza del cambio climático, la Fundación Alas de Cristal desarrolla proyectos que difundan la belleza y riqueza de nuestra biodiversidad e invitar a su defensa y protección como el ejercicio de una nueva ciudadanía ambiental.
            <br>
            ¡Te invitamos a conocer nuestros productos y servicios!
        </p>
    </section>

    <section id="almanac">

        <div class="almanac-logo" style="text-align: center;">
            <a href="{% url 'products' %}">
                <img style="margin: 0 auto;" src="{{ STATIC_URL }}images/almanac/logo.png" alt="Almanaque">
            </a>
        </div>

    </section>
{% endblock content %}

