{% extends "base.html" %}

{% block title %}
    Prouctos | Fundación Alas de Cristal
{% endblock title %}

{% block description %}
    Productos y proyectos realizados por la Fundación Alas de Cristal.
{% endblock description %}

{% block extra_head %}{% endblock extra_head %}

{% block content %}
    <section id="pithch">
        <p class="lead">Nuestros productos son material educativo, cultural, científico y artístico; son exclusivos y originales, elaborados por especialistas, con el aval del Instituto Alexander von Humboldt; son de gran impacto, alta recordación, alta penetración y bajo costo, y son excelentes para promocionar y fortalecer la imagen empresarial e institucional.</p>
    </section>

    <section id="what">
        <h3>Lo que hacemos</h3>
        <p>
            Diseñamos y desarrollamos productos editoriales, impresos* y digitales, tales como: mapas, álbumes, manuales, libros y afiches para apoyar campañas de sensibilización en temas de Arte, Educación y Medio Ambiente.
        </p>
                
        <h3>Vincúlese</h3>
        <p>
            La vinculación por parte de su empresa a este tipo de campañas contribuye a la construcción de imagen. La promoción de nuestros productos educativos aporta a la gestión de Responsabilidad Social Empresarial.
        </p>
        
        <h3>Lo que ofrecemos</h3>
        <p>
            Adquiera nuestros exclusivos productos que llevarán su logotipo institucional.
        </p>

        <small>*Todos nuestros productos impresos, están hechos con papel y tintas ecológicos.</small>

    </section>

    <style>
        .thumbnail {
            background-color: transparent;
        }
    </style>

    <section id="featured">
        <h2>Nuevos productos</h2>
        {% for bucket in featured %}
            <div class="row">
                {% for product in bucket %}
                    {% include "snipets/product.html" %}                    
                {% endfor %}
            </div>
        {% endfor %}
    </section>


    <section id="products">
        <h2>Proyectos realizados</h2>
        {% for bucket in products %}
            <div class="row">
                {% for product in bucket %}
                    {% include "snipets/product.html" %}                    
                {% endfor %}
            </div>
        {% endfor %}
    </section>

    <section id="product-traits">
        <h2>Caracterísiticas de nuestros productos</h2>
        <ul>
            <li>Tenemos un propósito educativo y buscamos desarrollar productos didácticos, instructivos y pedagógicos para la población en general. De manera especial, nos interesan los niños.</li>
            <li>Tenemos una intención ecológica y ambiental, y una invitación a la defensa, protección y conservación de las especies.</li>
            <li>Buscamos desarrollar nuestros productos con un alto criterio  artístico.</li>
            <li>Para nosotros es primordial contar con especialistas que avalen todo nuestro contenido informativo e investigativo.</li>
        </ul>
    </section>
{% endblock content %}

